body{
    background: linear-gradient(-45deg, #ff0000, #e73c7e, #23a6d5, #00f7ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    text-align: center;
    color: white;
    overflow-x: hidden;
}

select.form-control {
    -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
  }

.body{
    max-width: 100vw;
}

.header{
    padding: 0px;
    width: 100vw;
    margin: 0px;
}

.cards{
    background-color: rgba(51, 51, 51, 0.568);
    border-radius: 10px;
    margin-top: 25px;
}

.body{
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.body-content{
    background-color: white;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-item{
    margin: 5px;
    border-bottom: 1px solid transparent;
}

a{
    color: #333;
}

a:hover{
    color: #111;
}

.nav-link{
    margin: 5px;
    color: #333 !important;
}

.nav-item:hover, .nav-item:before, .active:before, .nav-item.active{
    margin: 5px;
    border-bottom: 1px solid #000;
    transition: all 0.5s ease-in-out 0s;
}

.footer-cont{
    background-color: white;
    color: #333;
    padding-bottom: 50px;
    padding-top: 50px;
}

.LLabs{
    margin-top: 0px;
}

a.nav-link{
    margin: auto;
    display: inline-block;
}

.navbar-toggler{
    background-color: white;
}

.navbar-toggler-icon{
    color:  rgba(51, 51, 51, 0.552) !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

